Development is currently on LAMP stack
On Ubuntu, make sure the following is installed if using pip
libffi-dev libssl-dev python-dev
-------------------------------------------------------------------------------
Python 2.7
Python:
	requests
	beautifulsoup4 <<< html parser
	selenium <<< loads webpages in web browser agent to allow script execution
	pyvirtualdisplay <<< needed to run headless mode
python-mysqldb <<< python module to interface with mysql db's
xvfb <<< for pyvirtualdisplay
firefox <<< browser agent for selenium

Scraper
-------------------------------------------------------------------------------
DB access on the scraper requires 4 environment variables to be set

DB_NAME
DB_TABLE_NAME
DB_USER_NAME
DB_USER_PASSWORD

If these values are not set, the scraper will fail to insert/update values on the database.

To set these values, in the command line it can be done with the following example command
	export DB_NAME = 'someDB'

Database
-------------------------------------------------------------------------------
MySQL was the chosen database for this project.

We run 
	mysql_secure_installation
to remove any extraneous users, db's, and to get rid of remote logins because they're unnecessary for our purposes.

The database is setup as brand, model, capacity, carrier, item_condition, price, site, timestamp. All fields are varchar with the exception of price which is an integer.

In order to setup a database with a table, use the following commands once logged into the mysql shell.
	CREATE DATABASE someDatabaseName;
	USE someDatabaseName;
	CREATE TABLE someTableName(brand VARCHAR(255), model VARCHAR(255), capacity VARCHAR(255), carrier VARCHAR(255), item_condition VARCHAR(255), price INT(11), site VARCHAR(255), timestamp VARCHAR(255));

Ideally, it's best to create a user in order to avoid using root credentials, and granting that user db permissions as necessary.
	CREATE USER 'someUserName'@'localhost' IDENTIFIED BY 'somePassword';
